<div>
    <div class="jumbotron">
        <p class="lead">
            This is a example ASP.NET MVC appplication showing simple CRUD operations on a user.
            The frontend was built using AngularJS to create a responsive single page app. The
            database used was RavenDB, a NoSQL database built for .NET.
        </p>
        <p><a href="/#/user" class="btn btn-primary btn-lg">Begin &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>ASP.NET</h2>
            <p>
                <a class="btn btn-default" href="http://asp.net">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>AngularJS</h2>
            <p>
                <a class="btn btn-default" href="https://angularjs.org">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>RavenDB</h2>
            <p>
                <a class="btn btn-default" href="http://ravendb.net">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>